body {
  font-family: 'Roboto';
  font-size: 22px;
  margin: 0px;
  padding: 0px;
}

.first-quarter {
  padding: 200px;
  padding-top: 20px;
  padding-bottom: 125px;
  background:  #1F2937
}

.head-bar {
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.head-logo {
  margin-top: 0;
  margin-bottom: 0;
  color: #F9FAF8;
  font-size: 24px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 18px;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: #E5E7EB;
}

.hero-bar {
  display: flex;
  justify-content: space-between;
}

.hero {
  max-width: 450px;
}

.hero-title {
  font-size: 48px;
  font-weight: 700;
  margin-top: 120px;
  color: #F9FAF8;
}

.hero-subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.hero-button {
  background-color: #3882F6;
  color: #E5E7EB;
  border: none;
  border-radius: 12px;
  width: 120px;
  height: 40px;
  margin-top: 10px;
  font-size: 20px;
}

img {
  width: auto;
  height: 240px;
  margin-top: 120px;
}

.second-quarter {
  padding: 200px;
  padding-top: 0px;
  padding-bottom: 75px;
  text-align: center;
}

.info-text-head {
  font-size: 36px;
  font-weight: 900;
  margin: 50px;
  color: #1F2937;
}

.image-container {
  display: flex;
  justify-content: center;
  gap: 65px;
}

.image-card {
  max-width: 150px;
  font-size: 18px;
  color: darkgray;
}

.image-square {
  border: 4px solid #3882F6;
  width: 150px;
  height: 150px;
  border-radius: 12px;
}

.third-quarter {
  padding-left: 335px;
  padding-right: 315px;
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: left;
  background:  #E5E7EB
}

.inspo-quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1F2937;
  margin-bottom: 0;
}

.inspo-author {
  margin-top: 0;
  text-align: right;
  font-size: 24px;
  font-weight: 500;
  color: #1F2937;
  padding-right: 20px;
}

.fourth-quarter {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
}

.blue-container {
  background: #3882F6;
  width: 1000px;
  height: 150px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-up-prompt {
  padding-left: 100px;
  color: #E5E7EB;
}

.sign-up-head {
  font-weight: 500;
  margin-bottom: 0;
}

.sign-up-text {
  margin-top: 0;
  font-weight: 200;
  font-size: 20px;
}

.sign-up-button {
  margin-right: 100px;
  background-color: #3882F6;
  color: #E5E7EB;
  border: 2px solid #E5E7EB;
  border-radius: 12px;
  width: 140px;
  height: 40px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: 700;
}

.footer {
  text-align: center;
  background: #1F2937;
  color:#E5E7EB;
  padding: 25px;
  font-size: 16px;
}
